@charset "UTF-8";
:root {
  /*fonts*/
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  /*text colors*/
  --main-color: #757575;
  --dark-color: #212121;
  --light-color: #ffffff;
  --accent-color: #2196f3;
  --hero-footer-color: #2f303a;
  /*bg-colors*/
  /*others*/
  --items: 3;
  --indent: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*hide elements*/
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: #ffffff;
  color: var(--main-color);
  font-family: var(--main-font);
  font-size: 14px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

/* START 
Сетка на Flex-box*/
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: calc(-1 * var(--indent) / 2);
}

.flex-element {
  -ms-flex-preferred-size: calc((100% - var(--indent) * var(--items)) / var(--items));
      flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
  margin: calc(var(--indent) / 2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Сетка на Flex-box
    END              */
@media screen and (min-width: 480px) {
  .pf-list-item {
    --items: 1;
  }
}
@media screen and (min-width: 768px) {
  .pf-list-item {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .pf-list-item {
    --items: 3;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.pf-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .pf-container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .pf-container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .pf-container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-footer-color);
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-m.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-m.jpg);
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-bg-m@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-t.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-t.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-bg-t@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg-d.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-d.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-bg-d@2x.jpg);
  }
}

.no-padding {
  padding-top: 0px;
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-color);
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.features__title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-color);
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}

.command__title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--dark-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/*hero button start*/
.hero-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: var(--main-font);
  font-weight: 700;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--light-color);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover, .hero-btn:focus {
  background-color: #188ce8;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/*hero button end*/
.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-networks__item:not(:last-child) {
  margin-right: 10px;
}
.social-networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: var(--light-color);
  fill: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks__link:hover .social-networks__icon, .social-networks__link:focus .social-networks__icon {
  fill: var(--light-color);
}
.social-networks__link--mode-dark {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--light-color);
}
.social-networks__link:hover, .social-networks__link:focus {
  background-color: var(--accent-color);
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: var(--light-color);
  fill: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--light-color);
}
@media screen and (min-width: 1200px) {
  .footer-subscribe-form {
    margin-top: 0px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.footer-form-email {
  width: 450px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  margin-bottom: 20px;
  padding-left: 16px;
  background-color: transparent;
  outline: transparent;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: var(--light-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .footer-form-email {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-email {
    display: inline-block;
    width: 358px;
    margin-bottom: 0px;
  }
}
.footer-form-email::-webkit-input-placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-email::-moz-placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-email:-ms-input-placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-email::-ms-input-placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-email::placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-btn {
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .footer-form-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    margin-left: 12px;
  }
}
.footer-form-btn:hover, .footer-form-btn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.footer-form-btn:hover .send, .footer-form-btn:focus .send {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.send {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--light-color);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-right: 10px;
  color: var(--light-color);
}

.main-nav,
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.header .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .link:hover, .header .link:focus {
  color: var(--accent-color);
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header .list.contact-link.contact-flex {
  display: none;
}
@media screen and (min-width: 768px) {
  .header .list.contact-link.contact-flex {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header .list.contact-link.contact-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .header .list.contact-link > .item:not(:last-child) {
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header .list.contact-link > .item:not(:last-child) {
    padding-bottom: 0px;
  }
}

.site-link {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.site-link .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--dark-color);
}
.site-link .current.link::after {
  content: "";
  position: absolute;
  left: 0 px;
  bottom: 0 px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transform: translateY(28px);
          transform: translateY(28px);
  background: var(--accent-color);
}
.site-link .link:hover::after, .site-link .link:focus::after {
  content: "";
  position: absolute;
  left: 0 px;
  bottom: 0 px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transform: translateY(28px);
          transform: translateY(28px);
  background: var(--accent-color);
}
.site-link .current {
  color: var(--accent-color);
}
.site-link > .item:not(:last-child) {
  margin-right: 50px;
}

.contact-link .link {
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .contact-flex > .item:not(:last-child) {
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-flex > .item:not(:last-child) {
    margin-right: 50px;
  }
}

.contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contact-link .link {
  color: var(--main-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-footer-color);
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 0px;
  }
}
.footer .container {
  display: block;
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.footer-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer-title {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    display: inline-block;
    margin-left: 76px;
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    display: block;
    margin-right: 70px;
    margin-left: 0px;
  }
}
.footer-contact:not(:last-child) {
  margin-bottom: 9px;
}
.footer .link {
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .footer .link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social-link {
    display: inline-block;
    margin-top: 65px;
    position: absolute;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social-link {
    margin-right: 93px;
    margin-top: 0px;
    display: block;
  }
}
.footer .link:hover, .footer .link:focus {
  color: var(--accent-color);
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.social-networks--mt {
  margin-top: 20px;
}

.adds {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .adds {
    display: block;
    margin-bottom: 9px;
  }
}

.header .link.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}
.header .link.logo span {
  color: #000000;
}

.footer .link.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .footer .link.logo {
    margin-top: 60px;
  }
}
.footer .logo {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .logo span {
  color: var(--light-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.features__about {
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.features__wrapper {
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .features__wrapper {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .features__wrapper {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__wrapper {
    max-width: 270px;
  }
}
@media screen and (min-width: 480px) {
  .features__list {
    --items: 1;
  }
}
@media screen and (min-width: 768px) {
  .features__list {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    --items: 4;
  }
}

.example__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.example__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 370px;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--light-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.example {
  display: none;
}
@media screen and (min-width: 1200px) {
  .example {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.command {
  padding-top: 60px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .command {
    padding-top: 94px;
  }
}
.command__wrapper {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .command__wrapper {
    padding-bottom: 30px;
  }
}
.command__role {
  font-style: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 480px) {
  .command__list {
    --items: 1;
  }
}
@media screen and (min-width: 768px) {
  .command__list {
    --items: 2;
  }
}
@media screen and (min-width: 1200px) {
  .command__list {
    --items: 4;
  }
}
.command__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--light-color);
}
.command-role {
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: 400;
  color: var(--main-color);
}
@media screen and (min-width: 480px) {
  .command__photo {
    width: 450px;
    height: 460px;
  }
}
@media screen and (min-width: 768px) {
  .command__photo {
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .command__photo {
    width: 270px;
    height: 260px;
  }
}

.contact-linc-icon {
  margin-right: 10px;
  fill: currentColor;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 480px) {
  .clients__list {
    --items: 2;
  }
}
@media screen and (min-width: 768px) {
  .clients__list {
    --items: 3;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    --items: 6;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .clients__link {
    max-width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    max-width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    max-width: 170px;
  }
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.clients__icon {
  fill: currentColor;
}

.portfolio-btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--dark-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--light-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transform: color;
          transform: color;
}
.portfolio-btn.current {
  background-color: var(--accent-color);
  color: var(--light-color);
}

.list.filter-flex {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .list.filter-flex {
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .list.filter-flex {
    margin-bottom: 34px;
  }
}

.pf-header {
  border-bottom: 1px solid #ececec;
}

.pf-item:not(:last-child) {
  margin-right: 8px;
}

.pf-container .flex-element:hover,
.pf-container .flex-element:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .filter-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 15px;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
  }
}
@media screen and (min-width: 768px) {
  .filter-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.pf-card {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.pf-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 62px;
  padding-bottom: 62px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pf-container .flex-element:hover .pf-overlay,
.pf-container .flex-element:focus .pf-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.pf-description {
  margin: 0;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--light-color);
}

/*примеры в портфолио*/
.example-descripion {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.pf-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.example-title {
  margin-top: 0px;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-color);
}

.about-example {
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 450px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: var(--light-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding-top: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--light-color);
  cursor: pointer;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.modal-btn:hover .close-modal, .modal-btn:focus .close-modal {
  fill: var(--accent-color);
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.close-modal {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 12px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
}

.form-entry-field {
  position: relative;
  display: block;
  margin-bottom: 10px;
  -ms-flex-preferred-size: 448px;
      flex-basis: 448px;
}
.form-entry-field.comment {
  margin-bottom: 20px;
}
.form-entry-field.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.custom-chekbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  outline: 2px solid var(--dark-color);
  outline-offset: -2px;
  border-radius: 2px;
}
.custom-chekbox-icon {
  fill: var(--light-color);
}
.form-chekbox:checked + .custom-chekbox {
  background-color: var(--accent-color);
  outline-color: var(--accent-color);
}
.form-chekbox:focus + .custom-chekbox {
  outline-color: var(--accent-color);
}

.form-field-contact,
.form-field-comment {
  width: 100%;
  margin-top: 4px;
  height: 120px;
  background-color: transparent;
  border: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-contact {
  height: 40px;
  padding-left: 42px;
  padding-right: 5px;
}

.form-field-comment {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 16px;
  padding-left: 16px;
  resize: none;
}

.form-field-contact:not(:-moz-placeholder-shown), .form-field-comment:not(:-moz-placeholder-shown) {
  border-color: var(--accent-color);
}

.form-field-contact:not(:-ms-input-placeholder), .form-field-comment:not(:-ms-input-placeholder) {
  border-color: var(--accent-color);
}

.form-field-contact:focus,
.form-field-comment:focus,
.form-field-contact:not(:placeholder-shown),
.form-field-comment:not(:placeholder-shown) {
  border-color: var(--accent-color);
}

.form-field-contact:not(:-moz-placeholder-shown) ~ .form-icon {
  fill: var(--accent-color);
}

.form-field-contact:not(:-ms-input-placeholder) ~ .form-icon {
  fill: var(--accent-color);
}

.form-field-contact:focus ~ .form-icon,
.form-field-contact:not(:placeholder-shown) ~ .form-icon {
  fill: var(--accent-color);
}

.form-entry-field .form-field-comment::-webkit-input-placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-entry-field .form-field-comment::-moz-placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-entry-field .form-field-comment:-ms-input-placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-entry-field .form-field-comment::-ms-input-placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-entry-field .form-field-comment::placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field-wrapper {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--dark-color);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-field-label {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.text-agreement {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-font);
}
@media screen and (min-width: 1200px) {
  .text-agreement {
    font-size: 14px;
    line-height: 24px;
  }
}

.link-agreement {
  text-decoration: none;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .link-agreement {
    font-size: 14px;
    line-height: 24px;
  }
}

.form-submit-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 56px;
  padding-right: 56px;
  width: 200px;
  height: 50px;
  font-size: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--light-color);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-submit-btn:hover, .form-submit-btn:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  z-index: 1000;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu-burger {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-btn.is-open .mobile-menu-burger {
  opacity: 0;
}

.mobile-menu-close {
  opacity: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-btn.is-open .mobile-menu-close {
  opacity: 1;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--light-color);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-link {
  text-decoration: none;
  color: var(--dark-color);
}

.mobile-menu-contact-link {
  text-decoration: none;
  color: var(--main-color);
}

.mobile-menu-socials-link {
  text-decoration: none;
  color: var(--accent-color);
}

.mobile-menu-nav {
  margin-bottom: auto;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu-nav-item .current {
  color: var(--accent-color);
}

.mobile-menu-contacts {
  margin-bottom: 64px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu-contacts-item .accent {
  font-size: 34px;
  color: var(--accent-color);
}

.mobile-menu-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu-socials-item:not(:last-child) .mobile-menu-socials-link {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}/*# sourceMappingURL=main.css.map */