.footer-subscribe-form {
  display: flex;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
  margin-top: 60px;

  justify-content: center;

  color: var(--light-color);

  @media screen and (min-width: 1200px) {
    margin-top: 0px;
    justify-content: left;
  }
}

.footer-form-email {
  width: 450px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  margin-bottom: 20px;
  padding-left: 16px;
  background-color: transparent;
  outline: transparent;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.03em;

  color: var(--light-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    display: inline-block;
    width: 358px;
    margin-bottom: 0px;
  }

  &::placeholder {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-form-btn {
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 4px;

  margin-left: auto;
  margin-right: auto;

  align-items: center;
  justify-content: center;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border: 0;

  cursor: pointer;

  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    position: absolute;
    margin-left: 12px;
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &:hover .send,
  &:focus .send {
    transform: rotate(360deg);
  }
}

.send {
  align-items: center;
  justify-content: center;
  fill: var(--light-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-right: 10px;

  color: var(--light-color);
}
