/* START 
Сетка на Flex-box*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--indent) / 2);
}

.flex-element {
  flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items));
  margin: calc(var(--indent) / 2);
  box-sizing: border-box;
}

/* Сетка на Flex-box
    END              */

.pf-list-item {
  @media screen and (min-width: 480px) {
    --items: 1;
  }

  @media screen and (min-width: 768px) {
    --items: 2;
  }

  @media screen and (min-width: 1200px) {
    --items: 3;
  }
}
