:root {
  /*fonts*/
  --main-font: 'Roboto';
  --secondary-font: 'Raleway';

  /*text colors*/
  --main-color: #757575;
  --dark-color: #212121;
  --light-color: #ffffff;
  --accent-color: #2196f3;
  --hero-footer-color: #2f303a;
  /*bg-colors*/

  /*others*/
  --items: 3;
  --indent: 30px;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}
